.side-bar{
  width: 260px;
  height: 100vh;
}

.event-content {
  width: calc( 100% - 260px );
  margin-left: 260px;
  
  .item-card{
    cursor: pointer;
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      z-index: 10;
    }
    &.active {
      border: 5px solid #37a000;
    }
    // &:hover {
      // .edit-link {
        // display: block;
      // }
    // }
    .fix-desc{
      max-height: 50px;
      overflow: hidden;
    }
    .tags {
      li{
        list-style: none;
        float: left;
        color: white;
        padding: 0.25rem 1rem;
        margin-right: 1px;
        margin-left: 1px;
        &.tag-topstory, &.tag-headline {
          background-color: purple;
        }
        &.tag-provisional {
          background-color: blue;
        }
        &.tag-new, &.tag-updated {
          background-color: green;
        }
        &:first-child {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }
        &:last-child {
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }  
    }
  }  
  .edit-link {
    font-size: 1.5rem;
    margin-right: 1rem;
    // margin-top: -2.5rem;
    // display: none;
  }
  .view-link {
    font-size: 1.5em;
    color: gray;
    &.active {
      color: #007bff;
    }
  }
}
